################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/MessageBroker/MessageBrokerServer/obj
/MessageBroker/MessageBrokerServer/bin/Debug/netcoreapp3.1
/MessageBroker/.vs/MessageBroker/v16
/.vs
