################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/MessageBroker/.vs
/MessageBroker/MessageBrokerServer/obj
/MessageBroker/MessageBrokerServer/bin
/MessageBroker/MessageBrokerClient/obj
/MessageBroker/MessageBrokerClient/bin
*.user
*.pubxml
/MessageBroker/WinFormsClient/bin
/MessageBroker/WinFormsClient/obj
